.svn
.vscode
*.suo
*.bak
*.sdf
*.user

Debug/
Release/
ipch/
.vs/
PublishProfiles/
obj
CleanProjectDirectory.exe
/02_Variablen/BestOf/Thumbs.db
/13_OO_Basics/Übungen/RationalNumber/Solution/TestResults/d699cf92-d431-41c2-b71b-222fca929a17/*.coverage
